ul.navbar-right li a {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.copyright {
    border-top: none;
    padding: 10px 0 5px;
}

.headline {
    border-bottom: 1px dotted #555;
}

.headline h2 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #0bab64;
}

.navbar-default {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.social-network a.icoScholar:hover {
    background-color:#3F46CC;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoGitlab:hover {
    background-color:#E14328;
}
.social-network a.icoInstagram:hover {
    background-color: #AF146B;
}
.social-network a.icoInstagram:hover i, .social-network a.icoGitlab:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoScholar:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.social-circle li i {
    margin:0;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

a.unlink {
    color: inherit;
    text-decoration-line: none;
}

a.unlink:hover {
    color: #0bab64;
}

.image-modal-content {
    cursor: zoom-in;
}

/* modal popup styles */
.image-modal-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    animation: 500ms fadeIn;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-modal-popup .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

.image-modal-popup .description {
    text-align: center;
}
.image-modal-popup img {
    width: 80%;
    max-height: calc(100vh - 150px);
    margin-bottom: 10px;
    cursor: pointer;
}
.image-modal-popup span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 4rem;
    color: red;
    cursor: pointer;
}
.image-modal-popup p {
    margin: 5px auto;
    font-size: 1.1rem;
}
.image-modal-popup a {
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    background: #fff;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 6px;
}
